<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yo CorDapp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="app.js"></script>
</head>

<body ng-app="yoAppModule" ng-controller="YoAppController as yoApp">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">{{yoApp.me}}</a>
        </div>
        <button ng-click="yoApp.openSendYoModal()" type="button" class="btn btn-primary navbar-btn">Send Yo!</button>
    </div>
</nav>

<script type="text/ng-template" id="yoAppModal.html">
    <div class="modal-header">
        <h4 class="modal-title">Send Yo!</h4>
    </div>
    <form>
        <div class="modal-body">
            <div class="form-group">
                <label for="target" class="control-label">Peer:</label>
                <select ng-model="sendYoModal.form.target" class="form-control" id="target"
                        ng-options="peer as peer for peer in sendYoModal.peers">
                </select>
            </div>
            <div ng-show="sendYoModal.formError" class="form-group">
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    You must select a peer.
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="sendYoModal.cancel()" type="button" class="btn btn-default">Close</button>
            <button ng-click="sendYoModal.create()" type="button" class="btn btn-primary">Send Yo!</button>
        </div>
    </form>
</script>

<script type="text/ng-template" id="messageContent.html">
    <div class="modal-body" id="modal-body">
        {{ showMessageModal.message }}
    </div>
</script>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div ng-show="!yoApp.yos.length" class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">There are no recorded Yo's.</h3>
            </div>
            <div class="panel-body">Use the "Send Yo!" button to send a Yo to a peer.</div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Recorded Yo's</h3>
            </div>
            <div class="panel-body">
                <ul>
                    <li ng-repeat="yo in yoApp.yos">{{yo.origin}} said: <b>{{yo.yo}}</b></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
</body>

</html>