[Unit]
Description=Corda Node - Party A
Requires=network.target

[Service]
Type=simple
User=corda
WorkingDirectory=/opt/partya
ExecStart=/usr/bin/java -Xmx2048m -jar /opt/partya/corda.jar
Restart=on-failure

[Install]
WantedBy=multi-user.target
