[Unit]
Description=Webserver for Corda Node - Party C
Requires=network.target

[Service]
Type=simple
User=corda
WorkingDirectory=/opt/partyc
ExecStart=/usr/bin/java -jar /opt/partyc/corda-webserver.jar
Restart=on-failure

[Install]
WantedBy=multi-user.target
