<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Option CorDapp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.1/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.2.0/ui-bootstrap-tpls.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/createOptionModal.js"></script>
    <script src="js/issueCashModal.js"></script>
    <script src="js/tradeModal.js"></script>
    <script src="js/exerciseModal.js"></script>
</head>

<body ng-app="demoAppModule" ng-controller="DemoAppCtrl as demoApp">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">{{demoApp.thisNode}}</a>
        </div>
        <button ng-click="demoApp.openCreateOptionModal()" type="button" class="btn btn-primary navbar-btn">Request
            Option
        </button>
        <button ng-click="demoApp.openIssueCashModal()" type="button" class="btn btn-primary navbar-btn">Self-issue cash
        </button>
        <button ng-click="demoApp.refresh()" type="button" class="btn btn-default navbar-btn"><span
                class="glyphicon glyphicon-refresh"></span></button>
    </div>
</nav>

<script type="text/ng-template" id="createOptionModal.html">
    <div class="modal-header">
        <h4 class="modal-title">Request new option</h4>
    </div>
    <form>
        <div class="modal-body">
            <div class="form-group">
                <label for="createOptionIssuer" class="control-label">Issuer:</label>
                <select ng-model="createOptionModal.form.issuer" class="form-control"
                        id="createOptionIssuer"
                        ng-options="peer as peer for peer in createOptionModal.peers">
                </select>
            </div>
            <div class="form-group">
                <label for="createOptionUnderlying" class="control-label">Underlying:</label>
                <select ng-model="createOptionModal.form.underlying" class="form-control"
                        id="createOptionUnderlying"
                        ng-options="stock as stock for stock in createOptionModal.stocks">
                </select>
            </div>
            <div class="form-group">
                <label for="createOptionStrike" class="control-label">Strike price:</label>
                <input type="text" ng-model="createOptionModal.form.strike" class="form-control"
                       id="createOptionStrike">
            </div>
            <div class="form-group">
                <label for="createOptionCurrency" class="control-label">Currency (ISO code):</label>
                <input type="text" ng-model="createOptionModal.form.currency" class="form-control"
                       id="createOptionCurrency">
            </div>
            <div class="form-group">
                <label for="createOptionExpiry" class="control-label">Expiry date (in the form YYYY-MM-DD):</label>
                <input type="text" ng-model="createOptionModal.form.expiry" class="form-control"
                       id="createOptionExpiry">
            </div>
            <div class="form-group">
                <label for="createOptionType" class="control-label">Type:</label>
                <select ng-model="createOptionModal.form.optionType" class="form-control" id="createOptionType"
                        ng-options="type as type for type in createOptionModal.optionTypes">
                </select>
            </div>
            <div ng-show="createOptionModal.formError" class="form-group">
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Enter valid option creation parameters
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button ng-click="createOptionModal.cancel()" type="button" class="btn btn-default">Close</button>
            <button ng-click="createOptionModal.create()" type="button" class="btn btn-primary">Request option</button>
        </div>
    </form>
</script>

<script type="text/ng-template" id="createOptionMsgModal.html">
    <div class="modal-body" id="create-option-modal-body">
        {{ createOptionMsgModal.message }}
    </div>
</script>

<script type="text/ng-template" id="issueCashModal.html">
    <div class="modal-header">
        <h4 class="modal-title">Self-issue cash</h4>
    </div>
    <form>
        <div class="modal-body">
            <div class="form-group">
                <label for="issueCashCurrency" class="control-label">Currency (ISO code):</label>
                <input type="text" ng-model="issueCashModal.form.currency" class="form-control" id="issueCashCurrency">
            </div>
            <div class="form-group">
                <label for="issueCashAmount" class="control-label">Amount (Int):</label>
                <input type="text" ng-model="issueCashModal.form.amount" class="form-control" id="issueCashAmount">
            </div>
            <div ng-show="issueCashModal.formError" class="form-group">
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Enter valid cash issuance parameters.
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="issueCashModal.cancel()" type="button" class="btn btn-default">Close</button>
            <button ng-click="issueCashModal.issue()" type="button" class="btn btn-primary">Self-issue cash</button>
        </div>
    </form>
</script>

<script type="text/ng-template" id="issueCashMsgModal.html">
    <div class="modal-body" id="issue-cash-modal-body">
        {{ issueCashMsgModal.message }}
    </div>
</script>

<script type="text/ng-template" id="tradeModal.html">
    <div class="modal-header">
        <h4 class="modal-title">Trade option</h4>
    </div>
    <form>
        <div class="modal-body">
            <div class="form-group">
                <label for="tradeNewOwner" class="control-label">New owner:</label>
                <select ng-model="tradeModal.form.newOwner" class="form-control" id="tradeNewOwner"
                        ng-options="peer as peer for peer in tradeModal.peers">
                </select>
            </div>
            <div ng-show="tradeModal.formError" class="form-group">
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Enter valid option trade parameters.
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="tradeModal.cancel()" type="button" class="btn btn-default">Close</button>
            <button ng-click="tradeModal.trade()" type="button" class="btn btn-primary">Trade</button>
        </div>
    </form>
</script>

<script type="text/ng-template" id="tradeMsgModal.html">
    <div class="modal-body" id="trade-modal-body">
        {{ tradeMsgModal.message }}
    </div>
</script>

<script type="text/ng-template" id="settleModal.html">
    <div class="modal-header">
        <h4 class="modal-title">Exercise option</h4>
    </div>
    <form>
        <div class="modal-body">
            Confirm
        </div>
        <div class="modal-footer">
            <button ng-click="settleModal.cancel()" type="button" class="btn btn-default">Close</button>
            <button ng-click="settleModal.settle()" type="button" class="btn btn-primary">Exercise</button>
        </div>
    </form>
</script>

<script type="text/ng-template" id="settleMsgModal.html">
    <div class="modal-body" id="settle-modal-body">
        {{ settleMsgModal.message }}
    </div>
</script>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Cash balances:</h3>
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Amount</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="cash in demoApp.cashBalances">
                        <td class="vert-align">{{cash}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div ng-show="!demoApp.options.length" class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">There are no recorded options</h3>
            </div>
            <div class="panel-body">Use the "Request option" button to request an option from the issuer.</div>
        </div>
        <div ng-show="demoApp.options.length" class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Recorded options:</h3>
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Owner</th>
                        <th>Issuer</th>
                        <th>Underlying</th>
                        <th>Strike</th>
                        <th>Expiry</th>
                        <th>Type</th>
                        <th>Exercised</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="option in demoApp.options">
                        <td class="vert-align">{{option.owner}}</td>
                        <td class="vert-align">{{option.issuer}}</td>
                        <td class="vert-align">{{option.underlyingStock}}</td>
                        <td class="vert-align">{{option.strikePrice}}</td>
                        <td class="vert-align">{{option.expiryDate}}</td>
                        <td class="vert-align">{{option.optionType}}</td>
                        <td class="vert-align">{{option.exercised}}</td>
                        <td>
                            <div class="btn-group" role="group">
                                <button ng-click="demoApp.openTradeModal(option.linearId.id)" type="button"
                                        class="btn btn-primary">Trade
                                </button>
                                <button ng-click="demoApp.openSettleModal(option.linearId.id)" type="button"
                                        class="btn btn-primary">Exercise
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

</body>
</html>