.chat-base {
    -chat-base: #E11C1B;
    -chat-dark: derive(-chat-base, -30%);
    -fx-font-family: Poppins;
}

.messages {
    -fx-background-color: transparent,transparent,transparent;
    -fx-font-size: 20pt;
    -fx-font-family: monospace;
}

.messages:focused .content {
    -fx-background-insets: 0, 0, 0;
    -fx-font-size: 20pt;
    -fx-font-family: Poppins;
}

.nodes-list-pane {
    -fx-background-color: -chat-base;
    -fx-spacing: 15px;
}

.nodes-list-pane > .username {
    -fx-font-size: 20pt;
    -fx-font-weight: bold;
}

.nodes-list-pane > .list-view {
    -fx-text-fill: white;
    -fx-font-size: 14pt;
    -fx-background-color: -chat-base;
    -fx-background-insets: 0, 0;
    -fx-padding: 0;
    -fx-hbar-policy: never;
}

.nodes-list-pane > .list-view .list-cell {
    -fx-text-fill: white;
    -fx-background-color: -chat-base;
}

.nodes-list-pane > .list-view .list-cell:odd {
    -fx-background-color: -chat-base;
}

.nodes-list-pane > .list-view .list-cell:focused {
    -fx-background-color: -chat-base, -chat-dark;
    -fx-background-radius: 0px, 8px;
}

.chat-input {
    -fx-background-insets: 0 0;
    -fx-padding: 10;
}

.username {
    -fx-font-size: 20pt;
    -fx-text-fill: white;
}


/** thin scrollbar, mac style **/

.nodes-list-pane > .list-view .scroll-bar:vertical {
    -fx-background-color: transparent, transparent, transparent, transparent;
    -fx-background-insets: 0, 0 1 0 1;
    -fx-padding: 0 0 0 5;
}

.nodes-list-pane > .list-view .scroll-bar:vertical > .thumb {
    -fx-background-color: #00000033;
}

.nodes-list-pane > .list-view .scroll-bar > .increment-button, .scroll-bar > .decrement-button {
    -fx-padding: 0 5 0 5;
}

.nodes-list-pane > .list-view .increment-button > .increment-arrow, .nodes-list-pane > .list-view .decrement-button  > .decrement-arrow {
    -fx-padding: 0;
    -fx-shape: "";
}
