<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Appenders>
        <Console name="Console-Appender" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>
                    [%-5level] %d{HH:mm:ss.SSS} [%t] %c{1}.%M - %msg%n
                </pattern>>
            </PatternLayout>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="warn">
            <AppenderRef ref="Console-Appender"/>
        </Root>
        <Logger name="org.hibernate.type.descriptor.java.JavaTypeDescriptorRegistry" level="error" additivity="false">
            <AppenderRef ref="Console-Appender"/>
        </Logger>
        <Logger name="net.corda.node.services.persistence.AbstractPartyToX500NameAsStringConverter" level="error"
                additivity="false">
            <AppenderRef ref="Console-Appender"/>
        </Logger>
        <Logger name="net.corda.node.utilities.AppendOnlyPersistentMap" level="error" additivity="false">
            <AppenderRef ref="Console-Appender"/>
        </Logger>
        <Logger name="net.corda.core.flows.FlowLogic" level="info" additivity="false">
            <AppenderRef ref="Console-Appender"/>
        </Logger>
        <Logger name="net.corda.demos.crowdFunding" level="info" additivity="false">
            <AppenderRef ref="Console-Appender"/>
        </Logger>
    </Loggers>
</Configuration>
